/assets/icons/*.jpg
/assets/icons/*.png

### Jekyll ###
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

### Local default template copies ###
/_layouts/_*.html
/_includes/_*.html

### IntelliJ IDEA ###
.idea/
