### Non-svg Icons ###
/assets/icons/*.*
!/assets/icons/*.svg

### Local Example Files ###
/_posts/*example*.md
/_posts/*example*.markdown
/_projects/*example*.md
/_projects/*example*.markdown

### Jekyll ###
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

### Local default template copies ###
/_layouts/_*.html
/_includes/_*.html

### IntelliJ IDEA ###
.idea/
