<div class="hero">
  {%- include header.html -%}
    <div class="page-content" aria-label="Content">
    <div class="wrapper">
      <h1>
        {%- unless page.hero-title -%}
          {{ site.author | escape }}
        {%- else -%}
          {{ page.hero-title | escape }}
        {%- endunless -%}
      </h1>
      {%- if page.hero-text -%}
      <h2>
        {{ page.hero-text | escape }}
      </h2>
      {%- endif -%}
      <div class="hero-social">
        {%- include hero-social.html -%}
      </div>
    </div>
  </div>
</div>
