<div class="projects">
  <div class="row">
    {% for project in site.projects %}
    <div class="card">
      <div class="card-header">
        <img class="project-header-img" src="{{ '/assets/images/project.png' | relative_url }}" alt="{{ project.title }}">
        <a target="_blank" href="{{ project.url }}">
          <div class="card-header-content">
            <div class="card-header-text">
<!--            <div class="card-header-title">-->
              <h2>{{ project.title }}</h2>
              <p>{{ project.description }}</p>
              {{ project.excerpt }}
<!--            </div>-->
            </div>
          </div>
        </a>
      </div>
      <div class="card-main">
        {%- if project.techs -%}
        <div class="techs-row">
          {% for tech in project.techs %}
        <img class="tech-img" loading="lazy" src="{{ site.baseurl }}/assets/icons/{{ tech }}.svg" alt="{{ tech }}" />
          {% endfor %}
        </div>
        {%- endif -%}
        {%- if site.show_excerpts -%}
          {{ project.excerpt }}
        {%- endif -%}
<!--      </div>-->
<!--      <div class="card-footer">-->
        <div class="btn-row">
          {%- if project.github_url -%}
          <a role="button" tabindex="0" href="https://github.com/{{ site.github_username }}/{{ project.github_url }}" target="_blank" class="btn btn-github">View on GitHub</a>
          {%- endif -%}
          {%- if project.live_url -%}
          <a role="button" tabindex="0" href="{{  project.live_url  }}" target="_blank" class="btn btn-live">View Live</a>
          {%- endif -%}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
