.hero {
  background-image: url("/assets/images/hero.jpg");
  align-items: center;
  background-position: 50%;
  background-size: cover;
}

.hero .site-header {
  border-bottom: 0 solid #e8e8e8;
}

.hero .page-content .wrapper,
.hero .wrapper .site-title,
.hero .site-nav .page-link {
  color: white;
}

.hero .page-content .wrapper {
  font-family: 'Dosis', sans-serif;
  min-height: calc(100vh - 3.5em);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Social Media */
.hero-social .header-icons {
  margin-top: 0.5em;
}

.hero-social .header-icons a {
  margin: 5px;
}

.hero-social .social-icon {
  border-radius: 50%;
  border: 1px solid white;

  padding: 10px;
  font-size: 1.5em;
  text-align: center;
  color: white;

  transition: all .5s;
}

.header-icons .social-icon:active,
.header-icons .social-icon:hover {
  color: #1a222c;
  background: white;
}
/* Social Media End */

@media screen and (max-width: 600px) {
  .hero .site-nav {
    background-color: transparent;
    border: 0;
  }

  .hero .site-nav .menu-icon > svg {
    fill: white;
  }
}
