.hero {
  position:relative;
}
.hero #hero-img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #324059;
}

.hero .site-header {
  border-bottom: 0 solid #e8e8e8;
}

.hero .page-content .wrapper,
.hero .site-nav .page-link {
  position: relative;
  color: white;
}

.hero .page-content .wrapper {
  min-height: calc(100vh - 3.5em);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: 'Dosis', sans-serif;
  text-align: center
}

/* Social Media */
.hero-social {
  margin-top: 0.5em;
}

.hero-social a {
  margin: 5px;
}

.hero-social .social-icon {
  border-radius: 50%;
  border: 1px solid white;

  padding: 10px;
  font-size: 2em;
  width: 1em;
  height: 1em;
  text-align: center;

  color: white;
  transition: all .5s;
}

.hero-social .social-icon:active,
.hero-social .social-icon:hover {
  color: #1a222c;
  background: white;
}
/* Social Media End */

@media screen and (max-width: 600px) {
  .hero .site-nav {
    background-color: transparent;
    border: 0;
  }

  .hero .site-nav .menu-icon > svg {
    fill: white;
  }
}
